<body>
    <header data-bs-theme="dark">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center">
                    <strong>StudyFlash</strong>
                </a>
            </div>
        </div>
    </header>

    <main>
        <section class="py-5 container">
            <div class="row py-lg-5">
                <h1>Dashboard</h1>
                <p class="lead text-body-secondary">Graphs</p>
            </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <h2>My lists</h2>

                <button class="btn btn-primary btn-sm mt-2 mb-4">+ Add a new list</button>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" />
                            </svg>
                            <div class="card-body">
                                <h3 class="card-title">My First List</h3>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success">Start</button>
                                        <button type="button" class="btn btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-body-secondary">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>